<%= form_tag({controller: "strips", action: "collect", method: "put", class: "nifty_form"}, remote: true) %>

	<div id="indiscretion_notice"></div>

	<div class="field">
		<%= text_area_tag :content, nil , id: "indiscretion_form_text" %>
	</div> 

	<div class="actions">
		<%= submit_tag "Transmettre", id: "indiscretion_form_send" %>
	</div>
