<% @title=@blog_post.title %>
<div class="row">
  <img src="<%= image_path @blog_post.img_path unless @blog_post.img_path == nil %>" class="img-responsive"/>
 </div>
 <div class="row" style="margin-top: 10px;">
	<div class="col-md-9" style="padding: 15px;border-right: 2px solid var(--lines);">
		<p><%= @blog_post.content %></p>
	</div>
	<div class="col-md-3" style="padding: 0px 0px 0px 5px;">
		
		<div style="text-align: center;">
			<p style="margin: 0px;font-weight: bold;"><i class="fa fa-headphones"></i> Pour lire en musique<br/>
			<hr style="border: 1.5px solid var(--maincolor);margin:5px 0px;"/>
			</p>
			<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A2cHQAKCDNoEob1XpdNC5o0" width="100%" height="60x" frameborder="0" allowtransparency="true"></iframe>
		</div>
		<div style="text-align: center;">
			<p style="margin: 0px;margin-top: 10px;font-weight: bold;"><i class="fa fa-rocket"></i> Pour aller plus loin<br/>
			<hr style="border: 1.5px solid var(--maincolor);margin:5px 0px;"/>
			</p>
			<ul>
				<li>Coincoin</li>
				<li>Cuicui</li>
				<li>Coucou</li>
				<li>Kirikiki</li>
			</ul>


		<div style="text-align: center;">
			<p style="margin: 0px;margin-top: 10px;font-weight: bold;"><i class="fa fa-graduation-cap"></i> Sources <br/>
			<hr style="border: 1.5px solid var(--maincolor);margin:5px 0px;"/>
			</p>
			<ul>
				<li>Coincoin</li>
				<li>Cuicui</li>
				<li>Coucou</li>
				<li>Kirikiki</li>
			</ul>
		</div>

		</div>
	</div>
  </div>