<% @title=@blog_post.title %>
<div class="thumbnail">
  <img src="<%= image_path @blog_post.img_path unless @blog_post.img_path == nil %>" class="img-responsive"/>
  <div class="caption">
    <p class="lead"><%= @blog_post.catchphrase %></p>
    <hr/>
    <p><%= @blog_post.content %></p>
    <%= link_to "Retour", root_path, class: "btn btn-primary" %>
  </div>
</div>