<h1 class="lead maincolor" style="font-weight: bold;">Politique de confidentialité</h1>
<p>"Audit Expresso" utilise le système Google Analystics à des seules fins de mesure d'audience. Ce système n'enregistre pas de données nominatives, que "Audit Expresso" se refuserait à exploiter.</p>

<p>"Audit Expresso" utilise un cookie cripté pour enregistrer les données de SESSION de l'utilisateur. Ce cookie non nominatif a pour vocation de conserver certains paramètres comme le vote sur les cabinets d'audit, ou le visionnage de vidéos au profit de "Audit Expresso". Ce cookie est détruit à la fin de la SESSION, c'est-à-dire lorsque l'utilisateur ferme son navigateur internet.</p>
