<h1 class="lead" style="font-weight: bold;margin-top: 10px;"><i class="fa fa-gavel"></i> Mentions Légales </h1>
Adresse du site : www.auditexpresso.net <br>
Nom : Audit Expresso <br>
Propriétaire / Webmaster / Responsable de Publication : Adrien Mennillo <br>
Site développé avec Ruby on Rails, sans CMS, framework additionnel ou achat de thème. <br>
Hébergeur : Heroku Inc. 650 7th Street San Francisco, CA 94103. www.heroku.com

<h1 class="lead" style="font-weight: bold;margin-top: 10px;"><i class="fa fa-shield"></i> Politique de confidentialité </h1>
<p>"Audit Expresso" utilise le système Google Analystics à des seules fins de mesure d'audience. Ce système n'enregistre pas de données nominatives, que "Audit Expresso" se refuserait à exploiter.</p>

<p>"Audit Expresso" utilise un cookie cripté pour enregistrer les données de SESSION de l'utilisateur. Ce cookie non nominatif a pour vocation de conserver certains paramètres comme le vote sur les cabinets d'audit, ou le visionnage de vidéos au profit de "Audit Expresso". Ce cookie est détruit à la fin de la SESSION, c'est-à-dire lorsque l'utilisateur ferme son navigateur internet.</p>


<h1 class="lead" style="font-weight: bold;margin-top: 10px;"><b><i class="fa fa-exclamation"></i> Propriété intellectuelle et avertissement:</b></h1>

<p>L'ensemble des éléments de ce site (structure, code source, logiciels, textes) sont la propriété exclusive du créateur de auditexpresso.net.
Les logos et marques des sociétés citées sont la propriété exclusive de leurs auteurs respectifs.<br>
Sauf accord écrit et préalable, toute représentation, reproduction, et/ou exploitation, qu’elle(s) soi(en)t partielle(s) ou totale(s), des contenus précités est (sont) interdite(s) et constituerai(en)t une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la propriété intellectuelle.</p>

<p>Par ailleurs, l’utilisation des informations contenues sur le présent blog relève de la seule responsabilité de l’utilisateur. Nous ne pourrions en aucun cas, et pour quelque cause que ce soit, en être tenus pour responsables, et ce, quelque en soit les conséquences. Nous ne sommes responsables d’aucune erreur ou omission sur le présent site.</p>

<p>La consultation de ce blog est fourni à titre gratuit et sans aucune garantie de la part de son éditeur. Les informations disponibles sur ce site ne sauraient être exemptes d'erreurs ou exhaustives. Il appartient à l'internaute de les utiliser à ses risques. "Audit Expresso" ne saurait être responsable de l'interprétation de son contenu faite par les internautes.</p>

<p>"Audit Expresso" ne saurait être tenu pour responsable de la publication d'informations erronées sur une entreprise, en l'absence de prise de contact par la dite entreprise demandant la rectification ou la supression de ces informations en utilisant l'adresse <b>contact[at]auditexpresso.net</b></p>

<p>"Audit Expresso" se réserve le droit de modifier, corriger ou supprimer son contenu à tout moment, ainsi qu'à suspendre son service. <p>