<h1 class="lead" style="font-weight: bold;margin-top:20px;margin-bottom: 10px;"> Que se passe-t-il si je clique sur "Soutenir AuditExpresso" ? </h1>
<hr class="line_main" style="margin: 5px 0px;">
<p>AuditExpresso ne se rémunère que par vos pourboires.</p>
<p>Si vous cliquez sur ce bouton, vous aurez la possibilité de nous générer un pourboire de 10ct d'euros en acceptant de regarder une vidéo publicitaire de 30 secondes.</p>

<h1 class="lead" style="font-weight: bold;margin-top:20px;margin-bottom: 10px;"> Qui paye ce pourboire de 10ct€ ? </h1>
<hr class="line_main" style="margin: 5px 0px;">
<p>C'est l'annonceur de la publicité qui reverse 10ct€ à AuditExpresso pour chaque visionnage.</p>

<h1 class="lead" style="font-weight: bold;margin-top:20px;margin-bottom: 10px;"> Dois-je payer quelque chose ? </h1>
<hr class="line_main" style="margin: 5px 0px;">
<p>Absolument pas. C'est tout l'intérêt.</p>

<h1 class="lead" style="font-weight: bold;margin-top:20px;margin-bottom: 10px;"> Pourquoi AuditExpresso sollicite-t-il mon soutien ? </h1>
<hr class="line_main" style="margin: 5px 0px;">
<p>La création et la maintenance technique de ce blog ont un coût. L'écriture des articles et des Indiscrétions prend du temps.</p>
<p>Face à ces coûts, AuditExpresso a choisi un modèle de rémunération au pourboire : tout vous est fourni gratuitement, et aucune publicité ne vous est imposée. Votre navigation reste ainsi libre, sans entraves et (on l'espère) de qualité.</p>
<p>En contrepartie, si vous apréciez le contenu de ce blog, nous sollicitons un pourboire de votre part, sous la forme de 30secondes d'attention, une fois de temps en temps.</p>

<h1 class="lead" style="font-weight: bold;margin-top:20px;margin-bottom: 10px;"> Pourquoi ce n'est pas simplement gratuit ? </h1>
<hr class="line_main" style="margin: 5px 0px;">
<p>Lorsque vous fournissez un travail, vous aimez bien obtenir quelque chose en retour (un salaire par exemple) n'est-ce pas ? Nous c'est pareil <i class="fa fa-smile-o"></i>.</p>

<h1 class="lead" style="font-weight: bold;margin-top:20px;margin-bottom: 10px;"> AuditExpresso est-il sponsorisé par des cabinets ? </h1>
<hr class="line_main" style="margin: 5px 0px;">
<p>Non, pas pour le moment, et ce n'est pas notre intention. Si cela devait changer, nous en informerions nos lecteurs.</p>

<h1 class="lead" style="font-weight: bold;margin-top:20px;margin-bottom: 10px;"> Pouvez-vous donner une indication des revenus issus de ce bouton ? </h1>
<hr class="line_main" style="margin: 5px 0px;">
<p>Sur notre premier mois d'existence, environ 7€.</p>

<h1 class="lead" style="font-weight: bold;margin-top:20px;margin-bottom: 10px;"> Je ne veux pas regarder de publicité, mais je suis d'accord pour vous donner un pourboire. Comment faire ?</h1>
<hr class="line_main" style="margin: 5px 0px;">
<p>Déjà, merci !<i class="fa fa-smile-o"></i> Mais ce n'est pas possible pour l'instant.</p>

<h1 class="lead" style="font-weight: bold;margin-top:20px;margin-bottom: 10px;"> Je n'ai pas pu regarder la publicité.</h1>
<hr class="line_main" style="margin: 5px 0px;">
<p>Nous en sommes désolés, et merci d'avoir voulu nous verser un pourboire. Prenez contact avec nous à l'addresse bug[at]auditexpresso.net, et décrivez-nous votre problème, nous tenterons de corriger ce bug au plus vite !</p>

<p class="maincolor"><b>Envie d'encore plus d'informations ? N'hésitez pas à <a href="mailto:contact@auditexpresso.net">prendre contact avec nous !</a></b></p>