# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

$(document).on "turbolinks:load", ->
 $('i.btn_classement_up').click (event) ->
  event.preventDefault()
  id = $(this).attr('id')
  		
  $.ajax
   type: 'put'
   url: '/cabinets/up/'+id
   dataType: 'json'
   success: (json) ->
    $('td#rating_' + id ).text(json.rating).parent().effect('highlight', {color: "#CCFBCE"} ,400)
    $('div#notice_here').html('<div class="alert alert-success alert-dismissible" role="alert" style="text-align:center;padding: 5px 0px 5px 0px;"><button type="button" class="close" data-dismiss="alert" aria-label="Close" style="right:5%;"><span aria-hidden="true">&times;</span></button>A voté !</div>')
  
  $('i.btn_classement_up').hide()
  $('td#vote_up_'+id).html('<i class="glyphicon glyphicon-ok a_vote_up" />').show()



 $('i.btn_classement_down').click (event) ->
  event.preventDefault()
  id = $(this).attr('id')
  		
  $.ajax
   type: 'put'
   url: '/cabinets/down/'+id
   dataType: 'json'
   success: (json) ->
    $('td#rating_' + id ).text(json.rating).parent().effect('highlight', {color: "#F0C675"} ,400)
    $('div#notice_here').html('<div class="alert alert-success alert-dismissible" role="alert" style="text-align:center;padding: 5px 0px 5px 0px;"><button type="button" class="close" data-dismiss="alert" aria-label="Close" style="right:5%;"><span aria-hidden="true">&times;</span></button>A voté !</div>')
  
  $('i.btn_classement_down').hide()
  $('td#vote_down_'+id).html('<i class="glyphicon glyphicon-ok a_vote_down" />').show()
