

html{
	position:relative;
	min-height: 100%;
}

body {
	background-color: $bgd;
}


.maincolor{color: $maincolor;}


.navbar {
	background-color: $bgd;
	border-color: $bgd;
}

#TheFooter {
	position: absolute;
	bottom:0;
	width: 100%;
	background-color: $maincolor;
	color: #fff;
	/* height in media */
	padding-top: 10px;
	font-size: 0.8rem;
}

#TheFooter ul > li > a {
	color: #fff;
}

#challenge{
	padding: 10px 0px 0px 0px;
	border-radius: 0px;
	border:0px;
	border-bottom: 1px solid $lines;
}


#bottom_row{
	display: flex;
	font-size: 1.2rem;
}
	
#top_row{
	background-color: $maincolor;
	padding: -5px;
	/* height in media */
}

#top_row > a > img {
	height: 100%;
	margin: 0 auto;
	width: auto;
	padding: 0px;
}

.line_main{
	border: 1.5px solid $maincolor;
}

.nav>li>a {
    color: $maincolor;
    padding: 3px 3px;
    font-weight: bold;
}

#tag_nav_1 {
    color: $color_tag_1;
}
#tag_nav_1:hover {
	background-color: $bgd;
	border-bottom: 3px solid $color_tag_1;
	padding: 0px 3px;
}
#tag_nav_2 {
    color: $color_tag_2;
}
#tag_nav_2:hover {
	background-color: $bgd;
	border-bottom: 3px solid $color_tag_2;
	padding: 0px 3px;
}
#tag_nav_3 {
    color: $color_tag_3;
}
#tag_nav_3:hover {
	background-color: $bgd;
	border-bottom: 3px solid $color_tag_3;
	padding: 0px 3px;
}
#tag_nav_4 {
    color: $color_tag_4;
}
#tag_nav_4:hover{
	background-color: $bgd;
	border-bottom: 3px solid $color_tag_4;
	padding: 0px 3px;
}

#top-lines {
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid $lines;
}

.table#classement{
	table-layout:fixed;
	width:95%;
	margin: 0px auto;
	border-spacing: 0px;
	text-align: center;
	word-wrap: normal;
}
.table#classement >tbody >tr >td {
	padding: 0px;
	vertical-align: middle;
	height: 31px;
}
.btn_classement_up, .btn_classement_up:hover, .a_vote_up{
	background-color: transparent;
	border: 0px;
	color:#68B166;	
	font-size: 1.2rem;
}
.btn_classement_down, .btn_classement_down:hover, .a_vote_down{
	background-color: transparent;
	border: 0px;
	color:#DF990A;	
	font-size: 1.2rem;
}
.btn_classement_up:active {
	background-color: #68B166 ;
	border: 0px;
	color: #fff;
}
.btn_classement_down:active {
	background-color: #DF990A;
	border: 0px;
	color: #fff;
}
.table#classement >tbody >tr >th{
	text-align: center;
}

#display_div{
	border-left: 1px solid $lines;
}

#classement_caption{
	text-align: center; 
	margin-bottom: 10px;
}

.table_collapse_trigger {
	text-align: center;
	border-top: 1px solid $lines;
}
.table_collapse_trigger:hover, .table_collapse_trigger:active, .indiscretions_collapse_trigger:hover, .indiscretions_collapse_trigger:active {
	background-color: $maincolor;
	color: #fff;
	cursor: pointer;
}

#donate_area{
	text-align: center;

	.lead{
		border-bottom: 1px solid $lines;
		text-align: center;font-weight: bold;
		padding-bottom: 5px;margin-bottom:5px;}
}

#button_donate {
	width: 100%;
	color: #fff;
	margin-top: 5px;
	background-color: #FE4E00;
	border: 1px solid #FE4E00;
	font-size: 1em;
	font-weight: bold;
}


#progressbar{
	width: 100%;
}

#play-pause {
	font-size: 8rem;
	text-align: center;
	color: $lines;
	position: absolute;
	top: 50%;
	left: 0;
	bottom: 50%;
	width: 100%;
	margin: auto;
	vertical-align: middle;
	display: table;
}

#video_text {
	font-size: 4rem;
	text-align: center;
	color: $lines;
	position: absolute;
	top: 50%;
	left: 0;
	bottom: 50%;
	width: 100%;
	margin: auto;
	vertical-align: middle;
	display: table;
}

#mute{
	color: #fff;
	font-size: 1.5rem;
	position: absolute;
	bottom: 5%;
	right: 10%;
}
#expand{
	color: #fff;
	font-size: 1.5rem;
	position: absolute;
	bottom: 5%;
	right: 4%;
}
.progress {
	width: 100%;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 5px;
	background-color: #fff;
	border-radius: 0px;
}

.modal-content{
	background-color: #FE4E00;
	border: 0px;
}

.modal-header{
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0px;
	padding: 5px 10px;
	border-bottom: 0px;
}
.modal-body{
	padding: 0px;
}

video::-webkit-media-controls{
	display: none;
}




