/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

:root {
	--bgd: #fff;
	--maincolor:#DA103B;
	--lines: #EEEEEE;
	--color_tag_1: #FE4E00;
	--color_tag_2: #541388;
	--color_tag_3: #FF0F80;
	--color_tag_4: #0A7F08;
}
html{
	position:relative;
	min-height: 100%;
}

body {
	background-color: var(--bgd);
	margin-bottom: 100px;
	padding-bottom: 10px;
}

#sidebar {
	font-size: 0.8rem;
}

.navbar {
	background-color: var(--bgd);
	border-color: var(--bgd);
}

.lead {
	font-size: 1.3rem;
}

#TheFooter {
	position: absolute;
	bottom:0;
	width: 100%;
	background-color: var(--maincolor);
	color: #fff;
	/* height in media */
	padding-top: 10px;
	font-size: 0.8rem;
}

#indiscretions{
	width: 95%;
	margin: 0px auto;
	padding: 0px 4px;
}

a.striplist:hover {
	text-decoration: none;
}
a.striplist{
	color: black;
}

#challenge{
	padding: 10px 0px 0px 0px;
	border-radius: 0px;
	border:0px;
	border-bottom: 1px solid var(--lines);
}

.uncollapsed_strip, .collapsable_strip.collapse.in {
	border-bottom: 1px solid var(--lines);
	padding: 0px 4px;
	height: 40px;
	width:100%;
	line-height: 100%;
	display:table;
	vertical-align: middle;
}

.indiscretions_collapse_trigger {
	border-bottom: 1px solid var(--lines);
	padding: 2px 0px;
	text-align: center;
}

.collapsable_strip > p, .uncollapsed_strip > p {
	display: table-cell;
	vertical-align: middle;
	color: black;
}

.collapsable_strip:hover, .uncollapsed_strip:hover{
	background-color: var(--maincolor);
	color:#fff;
	cursor:pointer;
}

.collapsable_strip:hover > p , .uncollapsed_strip:hover > p {
	color:#fff;
}


#bottom_row{
	display: flex;
}
	
#top_row{
	background-color: var(--maincolor);
	padding: -5px;
	/* height in media */
}

#top_row > a > img {
	height: 100%;
	margin: 0 auto;
	width: auto;
	padding: 0px;
}

.nav>li>a {
    color: var(--maincolor);
    padding: 3px 3px;
    font-weight: bold;
}

#tag_nav_1 {
    color: var(--color_tag_1);
}
#tag_nav_1:hover {
	background-color: var(--bgd);
	border-bottom: 3px solid var(--color_tag_1);
	padding: 0px 3px;
}
#tag_nav_2 {
    color: var(--color_tag_2);
}
#tag_nav_2:hover {
	background-color: var(--bgd);
	border-bottom: 3px solid var(--color_tag_2);
	padding: 0px 3px;
}
#tag_nav_3 {
    color: var(--color_tag_3);
}
#tag_nav_3:hover {
	background-color: var(--bgd);
	border-bottom: 3px solid var(--color_tag_3);
	padding: 0px 3px;
}
#tag_nav_4 {
    color: var(--color_tag_4);
}
#tag_nav_4:hover{
	background-color: var(--bgd);
	border-bottom: 3px solid var(--color_tag_4);
	padding: 0px 3px;
}

#top-lines {
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid var(--lines);
}

.table#classement{
	table-layout:fixed;
	width:95%;
	margin: 0px auto;
	border-spacing: 0px;
	text-align: center;
	word-wrap: normal;
}
.table#classement >tbody >tr >td {
	padding: 0px;
	vertical-align: middle;
	height: 31px;
}
.btn_classement_up, .btn_classement_up:hover, .a_vote_up{
	background-color: transparent;
	border: 0px;
	color:#68B166;	
	font-size: 1.5rem;
}
.btn_classement_down, .btn_classement_down:hover, .a_vote_down{
	background-color: transparent;
	border: 0px;
	color:#DF990A;	
	font-size: 1.5rem;
}
.btn_classement_up:active {
	background-color: #68B166 ;
	border: 0px;
	color: #fff;
}
.btn_classement_down:active {
	background-color: #DF990A;
	border: 0px;
	color: #fff;
}
.table#classement >tbody >tr >th{
	text-align: center;
}

#display_div{
	border-left: 1px solid var(--lines);
}

#classement_caption{
	text-align: center; 
	margin-bottom: 10px;
}

.table_collapse_trigger {
	text-align: center;
	border-top: 1px solid var(--lines);
}
.table_collapse_trigger:hover, .table_collapse_trigger:active, .indiscretions_collapse_trigger:hover, .indiscretions_collapse_trigger:active {
	background-color: var(--maincolor);
	color: #fff;
	cursor: pointer;
}


