/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
	--bgd: #F5F9FD;
	--maincolor:#DA103B;
}

body {
	background-color: var(--bgd);
}

.navbar {
	background-color: var(--bgd);
	border-color: var(--bgd);
}

#TheFooter {
	background-color: var(--maincolor);
	color: #fff;
	padding: 10px;
}

.thumbnail {
	border-radius: 0px;
}

.post_date {
	color: #989799;
}

.badge{
	background-color: #989799;
}

#bottom_row{
	/* background-color: #451475;
	height: 30px;  */
	display: flex;
}
	
#top_row{
	height: 60px;
	background-color: var(--maincolor);
}

#top_row > a > img {
	height: 100%;
	margin: 0 auto;
	width: auto;
	padding: 0;
}

.nav>li>a {
    color: var(--maincolor);
    padding: 2px 2px;
    font-size: 1.2em;
}

#top-lines {
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid var(--maincolor);
}
