/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 */

$bgd: #fff;
$maincolor:#DA103B;
$lines: #EEEEEE;
$color_tag_1: #0062FF;
$color_tag_2: #0A7F08;
$color_tag_3: #FF0F80;
$color_tag_4: #541388;

@import "app";
@import "blog_posts";
@import "strips";
@import "z_media";
