// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.PostArea{ 
	
	.thumbnail {
		border-radius: 0px;
		border:0px;
		border-bottom: 1px solid var(--lines);
		padding:0px;
	}
	.thumbnail .thumbnail-header > a > p {
		color:var(--maincolor);
		position: absolute;
		left:5%;
		top:5%;
		font-size: 3rem;
		word-wrap: normal;
		font-weight: bold;
	}
	.thumbnail .caption {
		padding: 2px 0px 10px 0px;
	}
	.thumbnail .caption > p {
		margin-bottom: 5px;
		/* height in media */
	}

	.post_date, .post_author {
		color: #989799;
		font-size: 1rem;
	}

	.badge {
		font-size: 0.8rem;
	}

}


