// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.PostArea{ 
	
	.thumbnail {
		border-radius: 0px;
		border:0px;
		border-bottom: 1px solid $lines;
		padding:0px;
	}
	.thumbnail .thumbnail-header > a > p {
		color: $maincolor;
		position: absolute;
		left:5%;
		top:5%;
		font-size: 3rem;
		word-wrap: normal;
		font-weight: bold;
	}
	.thumbnail .caption {
		padding: 2px 0px 10px 0px;
	}
	.thumbnail .caption > p {
		margin-bottom: 5px;
		/* height in media */
	}

	.post_date, .post_author {
		color: #989799;
		font-size: 1rem;
	}

	.badge {
		font-size: 0.8rem;
	}
	
	.badge_tag_1 {background-color: $color_tag_1;}
	.badge_tag_2 {background-color: $color_tag_2;}
	.badge_tag_3 {background-color: $color_tag_3;}
	.badge_tag_4 {background-color: $color_tag_4;}

	.blog_post_footer{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

}

/* in Show */

#blog_post_text{
	border-left: 2px solid $lines;
}
#blog_post_sidebar{
	word-wrap: break-word;
}

.react_button, #comment_form_send {
	position: relative;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: $maincolor;
	border: 1px solid #9E2634;
	color: #fff;
	padding: 0px 0px;
}

.react_button:active, .react_button:focus, .react_button:hover {
	outline: 6px auto $color_tag_1;
	color: #fff;
}

.socials{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	.btn{margin: 1px;}

	.btn-pinterest{background-color: $maincolor;}
}

#in_text_donate{
	width: 100%; 
	position: fixed;
	bottom: 0;
	background-color: $bgd;
	text-align: center;
	display: none;
	margin: 0 auto;
	border-top: 1px solid $donate_color;

	.close{
		font-size: 1.2rem;
		top: 0 ;
		right: 1%;
		position: absolute;
	}
}

.donatecolor{color: $donate_color}



