
@media only screen
and (min-device-width : 320px)
and (max-device-width : 767px) {
  
  html { font-size: 250%;}
  
  body{
    font-size: 1rem;
    margin-bottom: 300px;
    padding-bottom: 10px;
  }

  .container {width: 95%; max-width: 1200px;}

  .PostArea .thumbnail .caption > p {height: 130px;}

  #top_row{height: 120px;}

  #TheFooter {height: 300px;}

  .PostArea .badge {padding: 5px 10px;}

  .nav >li > a {font-size: 1rem;}
  
  .lead {font-size: 1rem;}

  #sidebar {display: none;}
  #display_div {width: 100%; border-left: 0px;}

  @media (orientation: landscape) {
    #sidebar {display: block;}
  }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 992px) {
  
  html {font-size: 140%;}

  body{
    font-size: 1rem;
    margin-bottom: 300px;
    padding-bottom: 10px;
  }

  .container {width: 95%;}

  .lead{font-size: 1.5rem;}

  .PostArea .thumbnail .caption > p {height: 90px;}

  .PostArea .badge {padding: 5px 10px;}

  #TheFooter {height: 200px;}

  #top_row{height: 80px;}

  #sidebar {font-size: 0.8rem;}
}

@media only screen
and (min-device-width : 993px) {
  
  html {font-size: 14px;}

  body{
    font-size: 1rem;
    margin-bottom: 100px;
    padding-bottom: 10px;
  }

  .lead{font-size: 1.4rem;}

  #top_row{height: 60px;}

  #TheFooter {height: 100px;}

  #TheFooter .row {font-size: 1rem;}

  #sidebar {font-size: 1rem;}

  .PostArea .badge {padding: 3px 7px; font-size: 0.8rem;}
}
