@media (min-width: 750px) {
  
  html { font-size: 100%;}

  .container {width: 95%; max-width: 1200px;}

  .PostArea .thumbnail .caption > p {height: 60px;}

  #top_row{height: 60px;}

  #TheFooter {height: 100px;}

 .PostArea .badge {padding: 3px 7px;}

  .nav >li > a {font-size: 1rem;}
}

@media (min-width: 320px) {
  
  html {font-size: 250%;}

  body{font-size: 1rem;}

  .container {width: 95%;}

  .PostArea .thumbnail .caption > p {height: 130px;}

  .PostArea .badge {padding: 5px 10px;}

  #TheFooter {height: 300px;}

  #top_row{height: 120px;}

}