// Place all the styles related to the Strips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#panel-strip{
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid $maincolor;
	margin: 0px;
	padding: 5px 0px;

	a{color: black;text-decoration:none;}
	a:hover, a:active, a:focus{text-decoration:none;}

	.panel-heading{background-color: #F3F7F8;}
	.panel-heading:hover {background-color: $maincolor;color: #fff;}
	.panel-title{font-size: 1em;font-weight: bold;};
	.panel-body{border-top:1px solid $lines;}
}

#indiscretions > button {
	position: relative;
	width: 100%;
	margin-top: 5px;
	background-color: #DADBDD;
	border: 1px solid #DADBDD;
	color: black;
	font-size: 0.8em;
}

#indiscretions > button:active, #indiscretions > button:focus {
	outline: 5px auto $color_tag_1;
}

#indiscretion_form_text {
	width: 100%;
}

#indiscretion_form_send {
	position: relative;
	width: 100%;
	margin-top: 5px;
	color: #fff;
	background-color: $maincolor;
	border: 1px solid #9E2634;
	font-size: 0.9em;
	border-radius: 3px;
	max-height: 20px;
	padding: 0px;
	vertical-align: center;
}

#indiscretions #indiscretion_collect_form {
	margin-top: 10px;
}

#indiscretion_howto{
	text-align: center;
}

.uncollapsed_strip, .collapsable_strip.collapse.in {
	border-bottom: 1px solid $lines;
	padding: 0px 4px;
	height: 50px;
	width:100%;
	line-height: 100%;
	display:table;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
}

.indiscretions_collapse_trigger {
	border-bottom: 1px solid $lines;
	padding: 2px 0px;
	text-align: center;
}

.collapsable_strip > p, .uncollapsed_strip > p {
	display: table-cell;
	vertical-align: middle;
	color: black;
}

.collapsable_strip:hover, .uncollapsed_strip:hover{
	background-color: #E7E9EA;
	color: black;
	cursor:pointer;
}

.collapsable_strip:hover > p , .uncollapsed_strip:hover > p {
	color: black;
}

#indiscretions{
	width: 95%;
	margin: 0px auto;
	padding: 0px 4px;

	.lead {
		text-align: center;
		border-bottom: 1px solid $lines;
		font-weight: bold;
		padding-bottom: 5px;
		margin-bottom:5px;
	}
}

a.striplist:hover {
	text-decoration: none;
}
a.striplist{
	color: black;
}

.maincolorbg{
	background-color: $maincolor !important;
	color: #fff !important;
}

