// Place all the styles related to the Strips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#panel-strip{
	border-radius: 0px;

	a{color: black;text-decoration:none;}
	a:hover, a:active, a:focus{text-decoration:none;}

	.panel-heading{background-color: #fff;}
	.panel-heading:hover{background-color: var(--maincolor);color: #fff;}
	.panel-title{font-size: 1em;font-weight: bold;};
	.panel-body{border-top:1px solid var(--lines);background-color: #B73F48;}
}