
#post_content{
	
	p {margin-top: 15px;margin-bottom: 5px;}

	li {margin-bottom: 3px;}

	.mauvaiselangue {
		background-color: #FFFAFF;
		border: 2px dashed #C82F41;
		padding: 4px;
	}

	.ensituation {
		background-color: #FAFFFF;
		border: 2px dashed #457CFC;
		padding: 4px;
	}

	.lines{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}	