
@media only screen
and (min-device-width : 320px)
and (max-device-width : 767px) {
  
  html { font-size: 250%;}
  
  body{
    font-size: 1rem;
    margin-bottom: 400px;
    padding-bottom: 10px;
  }

  .container {width: 95%; max-width: 1200px;}

  .PostArea .thumbnail .caption > p {height: 130px;}

  #top_row{height: 120px;}

  #TheFooter {height: 400px;
    a { font-size: 0.8rem; }
  }

  .PostArea .badge {padding: 5px 10px;}

  .nav >li > a {font-size: 1rem;}
  
  .lead {font-size: 1rem;}

  /* Main Layout */
  #sidebar {display: none;}
  #display_div {width: 100%; border-left: 0px;}
  
  /* Inside Blog Post Show */
  #blog_post_sidebar{display: none;}
  #blog_post_text{width: 100%; border-left: 0px;}


  /* If mobile gets turned */
  @media (orientation: landscape) {
    html { font-size: 150%;}
    body{margin-bottom: 200px;}
    #TheFooter {height: 200px;}
    
    /* Landscape - Main Layout */
    #sidebar {display: block; width: 40%; font-size: 0.8rem;}
    #display_div{width: 60%; border-left: 1px solid $lines;}
    .PostArea .thumbnail .caption > p {height: 80px;}
    .uncollapsed_strip, .collapsable_strip.collapse.in { padding: 10px 5px; }

    /* Landscape -  */
    #blog_post_sidebar{display: block;width: 40%;}
    #blog_post_text{width: 60%;border-left: 2px solid $lines;}
    #progress_text{font-size: 0.6rem; font-weight: bold;}
    
  }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 992px) {
  
  html {font-size: 140%;}

  body{
    font-size: 1rem;
    margin-bottom: 300px;
    padding-bottom: 10px;
  }

  .container {width: 95%;}

  .lead{font-size: 1.4rem;}

  .PostArea .thumbnail .caption > p {height: 90px;}

  .PostArea .badge {padding: 5px 10px;}

  #TheFooter {height: 200px;}

  #top_row{height: 80px;}

  #sidebar {font-size: 0.8rem;}
  #blog_post_sidebar {font-size: 0.8rem;width: 30%;}
  #blog_post_text{width: 70%;}

  .PostArea .badge_show{font-size: 0.6rem;}

  #progress_text{font-size: 0.7rem;} 
  

   @media (orientation: landscape) {
    html { font-size: 110%;}
      #progress_text{font-size: 0.8rem;}
      #blog_post_sidebar {width: 25%;}
      #blog_post_text{width: 75%;}
  }
}

@media only screen
and (min-device-width : 993px) {
  
  html {font-size: 14px;}

  body{
    font-size: 1rem;
    margin-bottom: 150px;
    padding-bottom: 10px;
  }

  .lead{font-size: 1.4rem;}

  #top_row{height: 60px;}

  #TheFooter {height: 150px;}

  #TheFooter .row {font-size: 1rem;}

  #sidebar {font-size: 1rem;}

  .PostArea .badge {padding: 3px 7px; font-size: 0.8rem;}
}
