<div class="thumbnail" style="padding: 10px 0px 0px 0px;" id="challenge">
	<div id="notice_here"></div>
	<p class="lead" style="font-weight: bold;text-align: center;margin-bottom:10px;">
		<%= content_tag(:i,"",class: "fa fa-thumbs-o-up") %>
		L'audit-o-mètre
		<%= content_tag(:i,"",class: "fa fa-thumbs-o-down") %>
	</p>
	<div id="classement_caption">Quel cabinet <span style="font-weight: bold; color:#68B166;">monte</span>?<br> Lequel <span style="font-weight: bold; color:#DF990A;">descend</span> ? Votez !</div>
		<table class="table" id="classement">
			<col width="20%">
			<col width="50%">
			<col width="15%">
			<col width="15%">
			<tr>
				<th>Points</th>
				<th>Cabinet</th>
				<th colspan="2" style="text-align: center;"">Votez!</th>
			</tr>
			
			<%= render Cabinet.order('rating DESC, s_name')%>
			
		</table>
	<div class="table_collapse_trigger" data-toggle="collapse" data-target=".collapsable_row" id="Afficher moins de cabinets" onclick="var txt; var id; txt = $('div.table_collapse_trigger').text(); id = $('div.table_collapse_trigger').attr('id');$('div.table_collapse_trigger').text(id); $('div.table_collapse_trigger').attr('id',txt);">Afficher plus de cabinets</div>
</div>

