<div class="thumbnail" style="padding: 10px 0px 0px 0px;" id="challenge">
	
	<%= alert_box('', id: "vote_alert", dismissible: :true) unless flash.empty? %>
	
	<div class="lead" id="classement_caption">Quel cabinet <span style="font-weight: bold; color:#68B166;">monte</span>?<br> Lequel <span style="font-weight: bold; color:#DF990A;">descend</span> ?<br> Votez !</div>
		<table class="table" id="classement">
			<col width="20%">
			<col width="50%">
			<col width="15%">
			<col width="15%">
			<tr>
				<th>Points</th>
				<th>Cabinet</th>
				<th colspan="2" style="text-align: center;"">Votez!</th>
			</tr>
			
			<%= render Cabinet.all.sort_by{|cab| [cab[:rating], cab[:s_name]]}.reverse! %>
			
		</table>
</div>

