

<footer id="TheFooter">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<p><i class="glyphicon glyphicon-copyright-mark"></i> NousLesCaC 2016</p>
			</div>
			<div class="col-md-6 col-md-offset-3 text-right">
				<div class="vcenter"><h6>
					<i class="fa fa-quote-right" aria-hidden="true"></i>	
					Aucun stagiaire ou junior 1 n'a été maltraité au cours de l'écriture de ce blog<br/>
					Promis.<br/>
					<small style="color:#fff;"><em>Antoine, associé anonyme</em></small>
				</h6></div>
			</div>
		</div>
	</div>
</footer>