

<footer id="TheFooter">
	<div class="container-fluid">
		<div class="container">

		<div class="row">
			<div class="col-xs-4">
				<i class="glyphicon glyphicon-copyright-mark"></i> Nous.les.CaC 2016
				<br>	
				<ul class="list-unstyled">
					<li><a href="mailto:contact@nouslescac.fr">Contact</a></li>
					<li><a href="mailto:bug@nouslescac.fr">Signaler un bug</a></li>
				</ul>
			</div>
			<div class="col-xs-8 text-right">
				<p>	<i class="fa fa-quote-left" aria-hidden="true"></i>	
					Aucun stagiaire ou junior 1 n'a été maltraité au cours de l'écriture de ce blog.<br/>
					Promis. <i class="fa fa-quote-right" aria-hidden="true"></i><br/>
					<small style="color:#fff;"><em>Antoine, associé anonyme</em></small>
				</p>
			</div>
		</div>
		</div>
	</div>
</footer>