

<footer id="TheFooter">
	<div class="container-fluid">
		<div class="container">

		<div class="row">
			<div class="col-md-4 col-sm-6 text-left">
				<a href="http://www.facebook.com/auditexpresso" target="_blank" class="social"><i class="fa fa-facebook"></i></a> 
				<ul class="list-unstyled" style="margin-top: 10px;">
					<li><a href="mailto:contact@nouslescac.fr">Contact</a></li>
					<li><a href="mailto:bug@nouslescac.fr">Signaler un bug</a></li>
					<li><a href="mailto:idees@nouslescac.fr">Une idée d'article ?</a></li>
					<li><a href="/confidentialite">Confidentialité</a></li>
				</ul>
			</div>
			<div class="col-md-8 col-sm-6 text-right">
				<i class="glyphicon glyphicon-copyright-mark"></i> 2016 Audit Expresso

				<p style="margin-top: 10px;">	<i class="fa fa-quote-left" aria-hidden="true"></i>	
					Aucun stagiaire, assistant ou junior n'a été maltraité au cours de l'écriture de ce blog.<br/>
					Promis. <i class="fa fa-quote-right" aria-hidden="true"></i><br/>
					<small style="color:#fff;"><em>Antoine, associé anonyme</em></small><br>
				</p>

			</div>
		</div>
		</div>
	</div>
</footer>