<div id="in_text_donate">
      <b>Informé ? Diverti ? Un petit pourboire</b>?<span class="donatecolor"> <i class="fa fa-smile-o"></i></span> 
      
      <button type="button" class="close" id="close_in_text_donate" >&times;</button>
      
      <button class="btn btn-sm" id="button_donate_in_text" data-toggle="modal" data-target="#video_modal">
      <%= content_tag(:i,"",class:"fa fa-play-circle") %>
      Donner 30 secondes
    </button>
</div>