<div id="indiscretions">

	
	<!-- Le titre -->
	<a href="<%= strips_path %>" class="striplist">
		<p class="lead" >
			<%= content_tag(:i,"",class: "fa fa-user-secret") %>
			Indiscrétions
		</p>
	</a>

	<!-- Les strips -->
	<%= render Strip.index_pg %>

	<!-- Le bouton "afficher plus qui se transforme en afficher moins" -->
	<div class="indiscretions_collapse_trigger" data-toggle="collapse" data-target=".collapsable_strip" id='<span class="fa fa-caret-up"></span> &nbsp;Afficher moins&nbsp; <span class="fa fa-caret-up"></span>' onclick="var txt; var id; txt = $('div.indiscretions_collapse_trigger').html(); id = $('div.indiscretions_collapse_trigger').attr('id');$('div.indiscretions_collapse_trigger').html(id); $('div.indiscretions_collapse_trigger').attr('id',txt);"><span class="fa fa-caret-down"></span> &nbsp;Afficher plus&nbsp; <span class="fa fa-caret-down"></span></div>

	<div class="collapse" id="indiscretion_collect_form">
		<%= render 'strips/get' %>
	</div>


	<!-- le bouton "qqch à chuchoter" -->
	<button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#indiscretion_collect_form" id= "indiscretion_form_trigger" onclick="$(this).hide();">Quelque-chose à nous chuchoter ?</button>



</div>