<div id="it_is_known">
	<p class="lead" style="text-align: center;border-bottom: 1px solid var(--lines);font-weight: bold;padding-bottom: 10px;margin-bottom:10px;">
		<%= content_tag(:i,"",class: "fa fa-user-secret") %>
		It is known
	</p>
	<%= render Strip.all %>
</div>