<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="row" id="top_row">
			<div class="col-md-12">
				<div id="top_row">
					<img src="<%= image_path "nlc_logo_pink.png" %>" class="img-responsive" href="<%= root_path %>" alt="Logo Nous Les Cac" />
				</div>
			</div>
		</div>
		<div class="row" id="bottom_row">
			coincoin
		</div>
	</div>
</nav>
