<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img src="<%= image_path "nlc_logo.png" %>" class="img-responsive" alt="Logo Nous Les Cac"/>
			</a>
		</div>
	</div>
</nav>