<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="row" id="top_row">
			<div class="col-xs-12">
				<div id="top_row">
					<a href="<%= root_path %>">
						<img src="<%= image_path "logo.png" %>" class="img-responsive" href="<%= root_path %>" alt="Logo AuditExpresso" />
					</a>
				</div>
			</div>
		</div>
		<div class="row" id="bottom_row">
			<div class="col-md-6 col-md-offset-3">
				<ul class="nav nav-justified">
					<% Tag.all.each do |tag| %>
						<li><%= link_to tag.label, blog_posts_path(filter_tag: tag.label), id: "tag_nav_"+tag.id.to_s %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<hr id="top-lines">
</nav>
