<hr id="footer_line">
<div id="donate_notice"></div>
<div id="donate_text">
			
	<p style="text-align: center;" class=""><b>Cet article vous a plu ? <br id="break">Un petit pourboire <i class="fa fa-smile-o"></i> ?</b><br>
	<button class="btn btn-sm" id="button_donate" data-toggle="modal" data-target="#video_modal">
		<%= content_tag(:i,"",class:"fa fa-play-circle") %>
		Soutenir AuditExpresso
	</button>
	 </p>
 </div>