

<!-- Les indiscrétions -->
<div style="padding: 0px;">
	<%= render "indiscretions" %>
</div>

<hr class="line_main" style="margin: 15px 0px;">

<!-- soutien -->
<div style="padding: 0px;">
	<%= render "soutien" %>
</div>

<hr class="line_main" style="margin: 15px 0px;">

<!-- l'audit challenge -->
<div style="padding: 0px;">
	<%= render "audit_challenge" %>
</div>

