<div id="donate_area">
	<div id="donate_notice" style="margin: 15px 0px;"></div>
	<div id="donate_text">
		<hr class="line_main" style="margin: 15px 0px;">
		<p class="lead">
			<%= content_tag(:i,"",class: "fa fa-heart") %>
			Soutenir ce blog
		</p>	
		<p><b><span class="donatecolor">Vous apréciez ce blog ?</span></b></p>

		<p>Regarder 30 sec de pub équivaut à un <span class="donatecolor"><b>pourboire</b></span> de 10ct <span class="donatecolor"><b>Merci !!! 
		<%= content_tag(:i,"",class: "fa fa-heart") %></b></span></p>
	</div>

	<button class="btn btn-sm" id="button_donate" data-toggle="modal" data-target="#video_modal">
		<%= content_tag(:i,"",class:"fa fa-play-circle", style:"font-size:1.2em;") %>
		Soutenir AuditExpresso
	</button>
</div>