<div id="donate_area">
	<p class="lead" style="text-align: center;border-bottom: 1px solid var(--lines);font-weight: bold;padding-bottom: 10px;margin-bottom:5px;">
		<%= content_tag(:i,"",class: "fa fa-heart") %>
		Soutenir ce blog
	</p>

	<p>
		Nous.les.Cac est <span style="color:var(--maincolor);font-weight: bold;">indépendant</span> et refuse d'écrire des billets sponsorisés par des cabinets. <br>
		Pour nous soutenir, vous pouvez laisser un <span style="color:var(--maincolor);font-weight: bold;">pourboire</span> en acceptant de regarder 30sec de pub. Merci !!!
	</p>

	<button class="btn btn-sm" id="button_donate" data-toggle="modal" data-target="#video_modal">
		<%= content_tag(:i,"",class:"fa fa-play-circle", style:"font-size:1.2em;") %>
		Donner 30 secondes
	</button>
	
</div>