<div id="donate_area">
	<p class="lead">
		<%= content_tag(:i,"",class: "fa fa-heart") %>
		Soutenir ce blog
	</p>

	<p>
		Nous.les.Cac est <b><span class="donatecolor">indépendant</span></b> et refuse d'écrire des billets sponsorisés par des cabinets. <br>
		Pour nous soutenir, vous pouvez laisser un <b><span class="donatecolor">pourboire</span></b> en acceptant de regarder 30sec de pub. Merci !!!
	</p>
	

	<button class="btn btn-sm" id="button_donate" data-toggle="modal" data-target="#video_modal">
	<%= content_tag(:i,"",class:"fa fa-play-circle", style:"font-size:1.2em;") %>
	Donner 30 secondes
	</button>



	

</div>