  <!-- The modal containing a video -->
  <div class="modal fade" id="video_modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header lead">
        <%= content_tag(:i,"",class:"fa fa-heart") %>
        &nbsp;Soutenir Nous.les.Cac
    
      </div>
      <div class="modal-body">
        <div class="progress">
          <span id="progress_text">30s de pub = 10ct de pourboire, merci ! (cliquez sur la video pour lecture/pause)</span>
          <div class="progress-bar" id="progressbar" valuemax='10' value='0' style="width:0%;">
            <span></span>
          </div>
        </div>
        <div id="video_area">
          <video width="100%" id="the_video">
            <source src="<%= asset_path(Pub.find(rand(1..6)).path) %>" type="video/mp4" >
          </video>
          <i class="fa fa-play" type="button" id="play-pause"></i>
          <i class="fa fa-volume-up" type="button" id="mute"></i>
          <i class="fa fa-arrows-alt" type="button" id="expand"></i>
        </div>
      </div>
    </div>
  </div>
</div>